/* Main styles */
body {
  background-color: #f4f4f4;
}

/* Login Form */
.login-form {
  width: 300px;
  margin: 100px auto;
}
.login-form h4 {
  color: #888;
}
.login-form input {
  background-color: #eaeaea;
}

/* Navbar styles */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .row {
  flex-basis: 100%;
}
@media (max-width: 992px) {
  .navbar .row {
    margin: 0;
  }
}
.navbar .row .col {
  display: flex;
}
@media (max-width: 992px) {
  .navbar .row .col {
    flex-wrap: wrap;
  }
  .navbar .row .col .navbar-collapse {
    flex-basis: 100%;
  }
}
.navbar ul li {
  margin-right: 10px;
}
.navbar ul li:last-child {
  margin-right: 0;
}
.navbar .navbar-dark .navbar-nav .nav-link:focus,
.navbar .navbar-dark .navbar-nav .nav-link:hover,
.navbar .dropdown-menu,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover,
.navbar .admin-dropdown li.dropdown:hover,
.navbar .admin-dropdown li.dropdown.show {
  background-color: #3498db;
  color: #fff;
}
.navbar .dropdown-menu {
  right: -1px;
  left: auto;
  text-align: right;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
}
.navbar .dropdown-menu .dropdown-item {
  color: #fff;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  margin-bottom: 5px;
}
.navbar .dropdown-menu .dropdown-item:hover, .navbar .dropdown-menu .dropdown-item:focus {
  opacity: 0.7;
}

/* Members page styles */
.dashboard-inner-wrapper h1,
.memebers-inner-content h1,
.categories-inner-content h1 {
  font-size: 55px;
  font-weight: bold;
  margin: 40px 0;
  color: #666;
}
.dashboard-inner-wrapper .form-group,
.memebers-inner-content .form-group,
.categories-inner-content .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dashboard-inner-wrapper .form-group label,
.memebers-inner-content .form-group label,
.categories-inner-content .form-group label {
  flex-basis: 20%;
}
.dashboard-inner-wrapper .form-group .show-password,
.memebers-inner-content .form-group .show-password,
.categories-inner-content .form-group .show-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

/* Dashboard Page */
.cards {
  display: flex;
  justify-content: space-between;
}
.cards .card {
  flex-basis: inherit;
  margin: 0 10px;
  text-align: center;
}